<div class="container">
  <div class="row">
    <table border="1" class="table">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Dept</th>
          <th>City</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="displayEmployee">
          <td>
            {{ employee.EmployeeId }}
          </td>
          <td>
            {{ employee.FirstName }}
          </td>
          <td>
            {{ employee.FirstName }}
          </td>
          <td>
            {{ employee.Dept }}
          </td>
          <td>
            {{ employee.City }}
          </td>
          <td>
            {{ employee.Email }}
          </td>
          <td>
            <button type="button"  class="btn btn-primary" (click)="EditEmp(employee.EmployeeId)"  >EditEmp</button>
            <button class="btn btn-secondary" (click)="UpdateEmp(employee.EmployeeId)" >UpdateEmp</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
